<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../@theme/styles/style.css">
</head>

<body>
    <div class="container" id="pokemon-container">
        <h2 class="text-center mb-4">Danh Sách Pokemon</h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces1.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces10.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces11.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces14.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces15.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces14.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces17.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces17.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces2.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces15.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces11.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces30.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces27.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces9.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces30.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces10.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces9 (1).png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces2.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces34.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces1.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces27.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces34.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces9.png" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 mb-4">
                        <div class="pokemon-card" onclick="handleCardClick(this)">
                            <img src="../../../assets/images/pieces9 (1).png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>

                <form id="myForm" method="POST" action="" onsubmit="return validateForm()">
                    <div class="mb-3 mt-3">
                        <label for="inputField">Tên người chơi</label>
                        <input type="name" class="form-control" id="inputField" name="inputField" placeholder="Nhập tên người chơi">
                        <span id="errorField" class="error"></span><br><br>
                        <button type="submit" class="btn btn-success">Thêm</button>
                        <button type="button" class="btn btn-danger"  onclick="cancelForm()">Hủy</button>
                        <button type="button" class="btn btn-info"  onclick="reloadPage()">Tải lại</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
    <script src="../../../../dist/app.js"></script>
    <script src="../../../../dist/lab2.js"></script>
</html>